# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# misc
.DS_Store
*.pem

# env files (can opt-in for committing if needed)
.env
.env.local
.env.*
!.env.example